@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.dataTables_wrapper .dataTables_paginate span,
.dataTables_length {
    display: none !important;
}
.dataTables_wrapper .dataTables_paginate {
    margin-top: 1rem;
}
.dataTables_filter {
    margin-bottom: 1rem;
    font-family: "Raleway", sans-serif;
}
.dataTables_filter label {
    font-weight: 700;
    text-transform: uppercase;
}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 3rem;
    font-weight: 500;
    border: 1px solid #003554;
    border-radius: none !important;
    font-family: "Raleway", sans-serif;
}

table#researchTable thead th,
table.dataTable.no-footer {
    border-bottom: none;
}
table.dataTable.display tbody td {
    padding: 1rem;
    border-top: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: white !important;
    background-color: #e63946;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-color: #fff;
    border: 1px solid #2b2d42;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    text-transform: uppercase;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px;
    border-bottom: none !important;
    text-align: center !important;
}

/* Skelaton loading */
.table-loader {
    visibility: hidden;
    /* display: none; */
}


